*

!.gitignore

!schematic/
!schematic/**

!imx-yocto-imx6ull/
!imx-yocto-imx6ull/build-fb/
!imx-yocto-imx6ull/build-fb/conf/
!imx-yocto-imx6ull/build-fb/conf/**

!imx-yocto-imx6ull/meta-okmx6ull/
!imx-yocto-imx6ull/meta-okmx6ull/**
