# Công cụ nén không dùng vì OTA dùng zstd
# CONFIG_GZIP is not set
# CONFIG_GUNZIP is not set
# CONFIG_BZIP2 is not set
# CONFIG_BUNZIP2 is not set
# CONFIG_UNZIP is not set
# CONFIG_XZCAT is not set
# CONFIG_LZCAT is not set

# Network server/client không dùng
# CONFIG_TELNET is not set
# CONFIG_TFTP is not set
# CONFIG_FTPGET is not set
# CONFIG_FTPPUT is not set
# CONFIG_UDHCPD is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_NC is not set

# Công cụ filesystem/console không dùng
# CONFIG_FDISK is not set
# CONFIG_LOSETUP is not set
# CONFIG_MKSWAP is not set
# CONFIG_SWAPON is not set
# CONFIG_SWAPOFF is not set
# CONFIG_FBSET is not set
# CONFIG_LOADFONT is not set
# CONFIG_LOADKMAP is not set
# CONFIG_DUMPKMAP is not set

# Quản lý user runtime không dùng
# CONFIG_ADDUSER is not set
# CONFIG_ADDGROUP is not set
# CONFIG_DELUSER is not set
# CONFIG_DELGROUP is not set

# Tiện ích debug không cần
# CONFIG_HEXDUMP is not set
# CONFIG_MICROCOM is not set
# CONFIG_PATCH is not set
# CONFIG_STRINGS is not set
# CONFIG_WATCH is not set