[Unit]
Description=HNN OKM6ULL OTA Application
After=local-fs.target
OnFailure=ota-app-rollback.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/bin/mqtt_led_app
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target