CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_SYS_MALLOC_LEN=0x1000000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_MEMTEST_START=0x80000000
CONFIG_SYS_MEMTEST_END=0x88000000

# biết biến môi trường size bao nhiêu 
CONFIG_ENV_SIZE=0x2000

#tại sao nó tìm được thấy biến môi trường trên emmc 
CONFIG_ENV_OFFSET=0x400000

CONFIG_MX6ULL=y
CONFIG_TARGET_MX6ULL_14X14_EVK=y
# CONFIG_SYS_I2C_MXC_I2C1 is not set
# CONFIG_SYS_I2C_MXC_I2C2 is not set
CONFIG_DM_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="imx6ull-14x14-evk-emmc"
# CONFIG_SUPPORT_RAW_INITRD is not set
CONFIG_USE_BOOTCOMMAND=y

/*
1. run findfdt
tìm đúng file .dtb (device tree) phù hợp với board
→ set biến $fdt_file
tại sao nó biết được file nào qua biến này nó do config 
CONFIG_DEFAULT_FDT_FILE="imx6ull-14x14-evk-emmc.dtb"

2. mmc dev ${mmcdev} (2 lần)
chọn MMC device (mmcdev thường = 1 cho eMMC)
gọi 2 lần để đảm bảo init xong

nó do config này CONFIG_SYS_MMC_ENV_DEV

3. if mmc rescan
kiểm tra eMMC có hoạt động không
    → không scan được → run netboot (boot qua mạng)
    → scan được      → tiếp tục

4. if run loadbootscript
tìm file boot.scr trên eMMC
    → có boot.scr → run bootscript (chạy script tùy chỉnh)
    → không có   → tiếp tục

5. if run loadimage
tìm kernel image (zImage) trên eMMC
    → có kernel → run mmcboot (boot từ eMMC)
    → không có  → run netboot (boot qua mạng TFTP)


    findfdt
    ↓
mmc rescan
    ├── FAIL → netboot
    └── OK
         ↓
    loadbootscript
         ├── OK → bootscript (boot.scr)
         └── FAIL
              ↓
         loadimage
              ├── OK → mmcboot (boot kernel từ eMMC)
              └── FAIL → netboot (TFTP)



              /home/quanghaictu/learn_yocto/imx-yocto-imx6ull/meta-okmx6ull/recipes-bsp/ota-boot-script/files/boot.cmd


nếu muốn xem nó deconfig như nào 
/home/quanghaictu/learn_yocto/imx-yocto-imx6ull/build-fb/tmp/work/x86_64-linux/u-boot-imx-tools-native/2022.04-r0/git/include/configs/mx6ullevk.h (line 91)
*/
CONFIG_BOOTCOMMAND="run findfdt; mmc dev 1; if mmc rescan; then if run loadbootscript; then run bootscript; else if run loadimage; then run mmcboot; fi; fi; fi"

/*if waitpwrkey 5000; then ledblink 3 100;*/

CONFIG_BOOTDELAY=0
CONFIG_BOOTCOUNT_LIMIT=y
CONFIG_BOOTCOUNT_ENV=y
CONFIG_BOOTCOUNT_BOOTLIMIT=3
# CONFIG_CONSOLE_MUX is not set
# CONFIG_SYS_CONSOLE_IS_IN_ENV is not set
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_BOOTZ=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_MEMTEST is not set
CONFIG_CMD_GPIO=y
# CONFIG_CMD_I2C is not set
CONFIG_CMD_MMC=y
# CONFIG_CMD_SF is not set
# CONFIG_CMD_USB is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_PING is not set
CONFIG_CMD_BMP=y
CONFIG_CMD_CACHE=y
# CONFIG_CMD_NET is not set
CONFIG_CMD_BOOTCOUNT=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y

# đoạn này đã bật FAT này nên nó đọc được FAT
#U-Boot có driver FAT nhỏ gọn được compile sẵn 
#fatload là lệnh built-in, chạy được ngay từ đầu không cần gì thêm

CONFIG_CMD_FAT=y
# CONFIG_CMD_FS_GENERIC is not set
CONFIG_OF_CONTROL=y
CONFIG_ENV_OVERWRITE=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_SYS_MMC_ENV_DEV=1
CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG=y
CONFIG_BOUNCE_BUFFER=y
CONFIG_DM_74X164=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_MXC=y
CONFIG_FSL_USDHC=y
# CONFIG_MTD is not set
# CONFIG_DM_SPI_FLASH is not set
CONFIG_SF_DEFAULT_SPEED=40000000
# CONFIG_SPI_FLASH_STMICRO is not set
CONFIG_PHYLIB=y
CONFIG_PHY_MICREL=y
CONFIG_PHY_MICREL_KSZ8XXX=y
CONFIG_DM_ETH=y
CONFIG_DM_ETH_PHY=y
CONFIG_FEC_MXC=y
CONFIG_MII=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_IMX6=y
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_DM_REGULATOR_GPIO=y
CONFIG_MXC_UART=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
# CONFIG_FSL_QSPI is not set
CONFIG_SOFT_SPI=y
CONFIG_IMX_THERMAL=y
CONFIG_USB=y
CONFIG_USB_STORAGE=y
CONFIG_CMD_USB_MASS_STORAGE=y
CONFIG_USB_HOST_ETHER=y
CONFIG_USB_ETHER_ASIX=y
# CONFIG_DM_VIDEO is not set
# CONFIG_VIDEO_LOGO is not set
CONFIG_SYS_WHITE_ON_BLACK=y
# CONFIG_VIDEO_MXS is not set
CONFIG_SPLASH_SCREEN=y
CONFIG_SPLASH_SCREEN_ALIGN=y
CONFIG_BMP_16BPP=y

# CONFIG_USB_GADGET is not set
# CONFIG_USB_GADGET_DOWNLOAD is not set
CONFIG_USB_GADGET_MANUFACTURER="FSL"
CONFIG_USB_GADGET_VENDOR_NUM=0x1fc9
CONFIG_USB_GADGET_PRODUCT_NUM=0x0152
# CONFIG_CI_UDC is not set

# CONFIG_CMD_FASTBOOT is not set
# CONFIG_USB_FUNCTION_FASTBOOT is not set
# CONFIG_FASTBOOT_UUU_SUPPORT is not set
# CONFIG_FASTBOOT is not set

CONFIG_FASTBOOT_BUF_ADDR=0x83800000
CONFIG_FASTBOOT_BUF_SIZE=0x40000000
# CONFIG_FASTBOOT_FLASH is not set
CONFIG_EFI_PARTITION=y
CONFIG_ARCH_MISC_INIT =y
# CONFIG_DM_RNG is not set
# CONFIG_CMD_RNG is not set
# CONFIG_FSL_DCP_RNG is not set
# CONFIG_OF_SYSTEM_SETUP is not set
CONFIG_CMD_CRC32=y
CONFIG_CRC32_VERIFY=y


#là địa chỉ RAM nơi U-Boot proper bắt đầu chaỵ
#no duoc ghi de file cua hang /home/quanghaictu/learn_yocto/imx-yocto-imx6ull/build-fb/tmp/work/okmx6ull_s_emmc-poky-linux-gnueabi/u-boot-imx/2022.04-r0/build/okmx6ull_s_emmc_defconfig/.config
#cái này có thể chỉnh được 
CONFIG_SYS_TEXT_BASE=0x87800000

CONFIG_DEFAULT_FDT_FILE="imx6ull-14x14-evk-emmc.dtb"
CONFIG_OF_LIST="imx6ull-14x14-evk-emmc"