CONFIG_CFG80211=y
# CONFIG_MAC80211 is not set
# CONFIG_RTL8XXXU is not set
# CONFIG_RTL8XXXU_UNTESTED is not set

# Tat Bluetooth, vi board chi dung Wi-Fi
# CONFIG_BT is not set
# CONFIG_BT_HCIBTUSB is not set
# CONFIG_BT_RTL is not set
# CONFIG_BT_HCIUART is not set